<%= form_for(@restaurant) do |f| %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :location %><br />
		<%= f.text_field :location %>
	</div>

	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>

	<div class="field">
		<%= f.label :summary %><br />
		<%= f.text_field :summary %>
	</div>

	<div class="field">
		<%= f.label :capacity %><br />
		<%= f.text_field :capacity %>
	</div>

	<div class="field">
		<%= f.label :price_range %><br />
		<%= f.text_field :price_range %>
	</div>

	<div class="field">
		<%= f.label :menu %><br />
		<%= f.text_field :menu %>
	</div>
